Data
ML and Data Science/Milestone Project 2/.ipynb_checkpoints/AI Practice-checkpoint.ipynb
ML and Data Science/Milestone Project 2/AI Practice.ipynb
ML and Data Science/Milestone Project 2/.ipynb_checkpoints/6XWX_bike_rides-Copy1-checkpoint.csv
ML and Data Science/Milestone Project 2/6XWX_bike_rides-Copy1.csv
ML and Data Science/Milestone Project 2/6XWX_bike_rides.csv
