.boxmodel {
    border: solid 5px red;
    display: inline-block;
    padding: 10px;
    margin: 30px 20px 0 20px;
    width: 50px;
    height: 10%;
}

a {
    display: block;
}

section p {
    font-size: 10px;
}

span {
    /* Xem makes the element x times larger than the containing element */
    /* rem is the same as em but it is based off of the root element, in this case <html> */
    font-size: 5rem;
}